<!-- find me in app/views/comments_mailer/submitted.html.erb
     plain text at app/views/comments_mailer/submitted.text.erb -->
<!-- <h1>Comments#submitted</h1> -->
<p>
  <%= @greeting %>, Thank you for posting a comment, your input is valuable to us.
</p>
<p>
  This comment is under review. If determined acceptable it may be posted.
</p>
<p>
  Thank you for your input!
</p>
____________________________________
<p>
   <%= "New comment: #{@comment}" %>
</p>